<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"  
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="SQLRefreshDBAppPool" Guid="" KeyPath="yes">
        <util:User Id="SQLRefreshDBAppPoolUser"
           CreateUser="no"
           Name="[APPPOOL_USER]"
           Password="[APPPOOL_PASS]"
           Domain="." />
        <iis:WebAppPool Id="SQLRefreshDBAppPool"
                        Name="SQLRefreshDB"
                        Identity="other"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0"
                          User="SQLRefreshDBAppPoolUser" />
      </Component>
      <Component Id="SQLRefreshDBWebSite" Guid="" KeyPath="yes">
        <!-- Install to default web site -->
        <iis:WebSite Id="SQLRefreshDBWebSite" Description='SQLRefreshDB WebApi' Directory='INSTALLFOLDER' AutoStart='yes' StartOnInstall='yes'>
          <iis:WebAddress Id="AllUnassigned" Port="8080" />
          <iis:WebApplication Id="SQLRefreshDBWebsiteApplication" Name="[SQLRefreshDBWebSite][WEBSITE_ID]" WebAppPool="SQLRefreshDBAppPool"></iis:WebApplication>
        </iis:WebSite>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="SQLRefreshDBIisConfiguration">
      <ComponentRef Id="SQLRefreshDBAppPool" />
      <ComponentRef Id="SQLRefreshDBWebSite" />
    </ComponentGroup>
  </Fragment>
</Wix>
