<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"  
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="SQLRefreshDBAppPool" Guid="" KeyPath="yes">
        <util:User Id="SQLRefreshDBAppPoolUser" CreateUser="no" Name="[APPPOOL_USER]" Password="[APPPOOL_PASS]" Domain="[APPPOOL_DOMAIN]" />
        <iis:WebAppPool Id="SQLRefreshDBAppPool" Name="[APPPOOL_NAME]" Identity="other" ManagedPipelineMode="Integrated" ManagedRuntimeVersion="v4.0" User="SQLRefreshDBAppPoolUser" />
      </Component>
      <Component Id="SQLRefreshDBWebSite" Guid="" KeyPath="yes">
        <!-- Install to default web site -->
        <iis:WebSite Id="SQLRefreshDBWebSite" Description='[WEBSITE_NAME]' Directory='INSTALLFOLDER' AutoStart='yes' StartOnInstall='yes'>
          <iis:WebAddress Id="AllUnassigned" Port="[WEB_PORT]" />
          <iis:WebApplication Id="SQLRefreshDBWebsiteApplication" Name="SQLRefreshDB WebApi" WebAppPool="SQLRefreshDBAppPool"></iis:WebApplication>
        </iis:WebSite>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="SQLRefreshDBIisConfiguration">
      <ComponentRef Id="SQLRefreshDBAppPool" />
      <ComponentRef Id="SQLRefreshDBWebSite" />
    </ComponentGroup>
  </Fragment>
</Wix>
