<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- Include variable wxi -->
  <?include $(sys.CURRENTDIR)ProjectVariables.wxi ?>

  <Product Id="*" Name="!(loc.ProductName) v$(var.VersionNumber)" Language="!(loc.LANG)" Version="$(var.VersionNumber)" Manufacturer="!(loc.ManufacturerName)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="SQL Server Database Refresh - WebAPI" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="RefreshDB.WebAPI.Backend_Project"/>
      <ComponentGroupRef Id="SQLRefreshDBIisConfiguration"/>
    </Feature>

    <Icon Id="sbpdemo.ico" SourceFile="InstallerFiles\sbpdemo.ico"/>
    <Property Id="ARPPRODUCTICON" Value="sbpdemo.ico" />

    <Property Id="SQLREFRESHDBVERSION">
      <RegistrySearch Id="VersionNumber" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="VersionNumber" Type="raw"></RegistrySearch>
    </Property>
    <SetProperty Id="SQLREFRESHDBVERSION" Value="VersionNumber" After="AppSearch">VersionNumber=""</SetProperty>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INETPUB" Name="Inetpub" ComponentGuidGenerationSeed="6F6C211E-3CA1-4E87-A41C-D8BF4907D25D">
        <Directory Id="INSTALLFOLDER" Name="RefreshDB" />
      </Directory>
    </Directory>
    <DirectoryRef Id="TARGETDIR">
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="B3AABA1C-4947-4776-A557-2BDA3329F9FF">
        <CreateFolder/>
        <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="VersionNumber" Type="string" Value="$(var.VersionNumber)"></RegistryValue>
      </Component>
      <Component Id="Web.config" Guid="CAF588D1-F1A2-405B-8860-6FC9247EDE29">
        <CreateFolder/>
        <util:XmlFile Id="ModifyConnectionString"
                        Action="setValue"
                        Permanent="yes"
                        File="[INSTALLFOLDER]Web.config"
                        ElementPath="/configuration/connectionStrings/add[\[]@name='RefreshDBEntities'[\]]"
                        Name="connectionString"
                        Value="metadata=res://*/RefreshDBModel.csdl|res://*/RefreshDBModel.ssdl|res://*/RefreshDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[DATABASESERVER];Initial Catalog=[DATABASENAME];Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
                        SelectionLanguage="XPath"
                        Sequence="1"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>