<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp6A4F9D28DF6F992FCE04768A605F3F6B" Guid="*">
                <File Id="fil290EB696DE8E76F029E58930686F7404" KeyPath="yes" Source="SourceDir\Global.asax" />
            </Component>
            <Component Id="cmp3DE0E27CB4AD0EAD15733F20AB0760EF" Guid="*">
                <File Id="filF804CBAD53A94E1BE2AB44FD5DF0AB63" KeyPath="yes" Source="SourceDir\packages.config" />
            </Component>
            <Component Id="cmpCDB7F4EFDEF1E65C3B12BEBAD7E4D7EA" Guid="*">
                <File Id="fil8994620207C22CA15AF75ACDD6420C79" KeyPath="yes" Source="SourceDir\Web.config" />
            </Component>
            <Component Id="cmp4DEDC4BD8B50809C9679DE179843E514" Guid="*">
                <File Id="fil78FED1A4C49767B7ABB532406781EA1D" KeyPath="yes" Source="SourceDir\Web.config.Example" />
            </Component>
            <Directory Id="dir7307A6085BD4ABD9B8955C093FD541F5" Name="bin">
                <Component Id="cmp4795109627B83AD0BD4AE603B111DBF1" Guid="*">
                    <File Id="filEE905A33DF4BB70A125796A18623634B" KeyPath="yes" Source="SourceDir\bin\EntityFramework.dll" />
                </Component>
                <Component Id="cmp7FAFACC5767528A7C01CB444DDF11157" Guid="*">
                    <File Id="filC7FAB35E0E35A062AF335458344059FB" KeyPath="yes" Source="SourceDir\bin\EntityFramework.SqlServer.dll" />
                </Component>
                <Component Id="cmpDE273EC5A6ABB02DB8578BC4F2ABEBD3" Guid="*">
                    <File Id="filBB5247D187E46075D53C64E74FCADCD1" KeyPath="yes" Source="SourceDir\bin\Microsoft.Web.Infrastructure.dll" />
                </Component>
                <Component Id="cmp8B7892C70FF082DA3B877BBFB45AB149" Guid="*">
                    <File Id="fil975CD578CC6ADD1227E15C594B9D64E7" KeyPath="yes" Source="SourceDir\bin\Microsoft.Web.Mvc.FixedDisplayModes.dll" />
                </Component>
                <Component Id="cmpBE9BB87ABB7F80C07AB897C66C4BFF19" Guid="*">
                    <File Id="fil7AB5AC371ADF176E37A0069DBDC4AC3A" KeyPath="yes" Source="SourceDir\bin\Newtonsoft.Json.dll" />
                </Component>
                <Component Id="cmp8BBB80BFE1177B138AB923AFE9C83FE5" Guid="*">
                    <File Id="fil9ED4F4C5DBF14B1045954F0E614365FF" KeyPath="yes" Source="SourceDir\bin\RefreshDB.Database.Framework.dll" />
                </Component>
                <Component Id="cmpB486AA5FC6BDDFE17E5B304A15777293" Guid="*">
                    <File Id="fil5762E15C6EF013016D52250871061C37" KeyPath="yes" Source="SourceDir\bin\RefreshDB.Database.Framework.pdb" />
                </Component>
                <Component Id="cmpC55A394D12BA411AB9880594FD1CE561" Guid="*">
                    <File Id="filAC7204F282D615606D5FC808343ED170" KeyPath="yes" Source="SourceDir\bin\RefreshDB.WebAPI.Backend.dll" />
                </Component>
                <Component Id="cmp6993960E54D806723F9E345856DAC164" Guid="*">
                    <File Id="filF92189A782F9ED1C04F5BDEC99839A2B" KeyPath="yes" Source="SourceDir\bin\RefreshDB.WebAPI.Backend.pdb" />
                </Component>
                <Component Id="cmp32CCDC9B03F8214C5DDDD9717C0B0DCD" Guid="*">
                    <File Id="filE0FB58A4175F7308CE35641BA9BE27A2" KeyPath="yes" Source="SourceDir\bin\System.Net.Http.Formatting.dll" />
                </Component>
                <Component Id="cmp8E755731D2F4513E05B1835C366B4FD0" Guid="*">
                    <File Id="fil7C7BB6B431E1D762DC3FE4BA24D05BBF" KeyPath="yes" Source="SourceDir\bin\System.Web.Helpers.dll" />
                </Component>
                <Component Id="cmpA4AC38BCA223E6D040AD4A04A51212F6" Guid="*">
                    <File Id="fil1BD09656A2C8B2EBF00273581FBA8B7C" KeyPath="yes" Source="SourceDir\bin\System.Web.Http.dll" />
                </Component>
                <Component Id="cmpE60845712FBC0938EC9D42DA0FBDFF44" Guid="*">
                    <File Id="fil48FFACF5B48D90E04AB03B84E2880B26" KeyPath="yes" Source="SourceDir\bin\System.Web.Http.WebHost.dll" />
                </Component>
                <Component Id="cmp7C5E0173F73C80F69AE5B339905F1CB7" Guid="*">
                    <File Id="filEE8B6B3735E821FBE2F7A3349831EBF3" KeyPath="yes" Source="SourceDir\bin\System.Web.Mvc.dll" />
                </Component>
                <Component Id="cmpA7F0F3CA5AC10E3C0A3496788771A1DF" Guid="*">
                    <File Id="fil52BF9F6A41E8803312585C2D9CE0FC39" KeyPath="yes" Source="SourceDir\bin\System.Web.Razor.dll" />
                </Component>
                <Component Id="cmpEA09AAD207FE05D3450FEEF959A34EEA" Guid="*">
                    <File Id="filD18DFFC3C748F3F4A6A0CB010DEBB16F" KeyPath="yes" Source="SourceDir\bin\System.Web.WebPages.Deployment.dll" />
                </Component>
                <Component Id="cmp1A8CCD05EF52550EAC9D5912926FD160" Guid="*">
                    <File Id="filF229DC13D43D4133C6A2608EF770EA68" KeyPath="yes" Source="SourceDir\bin\System.Web.WebPages.dll" />
                </Component>
                <Component Id="cmp73B1845052612B620A724C3DC5A71527" Guid="*">
                    <File Id="fil8B8AC6A01AA07762601AE1B2CC62E044" KeyPath="yes" Source="SourceDir\bin\System.Web.WebPages.Razor.dll" />
                </Component>
                <Directory Id="dir5ECF177E6953FC58DF8A537DDA9EE4CD" Name="PowershellScripts">
                    <Component Id="cmpF2E161B77261C7E73348CCBC98C051E7" Guid="*">
                        <File Id="fil26ED7F55DA92055FC39DFA5FD5DCA8FC" KeyPath="yes" Source="SourceDir\bin\PowershellScripts\RunSQLStatement.ps1" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dirFCDD7012DDD0B8E88DD3B28DFED8D43F" Name="PowershellScripts">
                <Component Id="cmp900148D524FFE40544D25816EE3F9745" Guid="*">
                    <File Id="fil00A260FBEB900D386932D352E5531530" KeyPath="yes" Source="SourceDir\PowershellScripts\RunSQLStatement.ps1" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="RefreshDB.WebAPI.Backend_Project">
            <ComponentRef Id="cmp6A4F9D28DF6F992FCE04768A605F3F6B" />
            <ComponentRef Id="cmp3DE0E27CB4AD0EAD15733F20AB0760EF" />
            <ComponentRef Id="cmpCDB7F4EFDEF1E65C3B12BEBAD7E4D7EA" />
            <ComponentRef Id="cmp4DEDC4BD8B50809C9679DE179843E514" />
            <ComponentRef Id="cmp4795109627B83AD0BD4AE603B111DBF1" />
            <ComponentRef Id="cmp7FAFACC5767528A7C01CB444DDF11157" />
            <ComponentRef Id="cmpDE273EC5A6ABB02DB8578BC4F2ABEBD3" />
            <ComponentRef Id="cmp8B7892C70FF082DA3B877BBFB45AB149" />
            <ComponentRef Id="cmpBE9BB87ABB7F80C07AB897C66C4BFF19" />
            <ComponentRef Id="cmp8BBB80BFE1177B138AB923AFE9C83FE5" />
            <ComponentRef Id="cmpB486AA5FC6BDDFE17E5B304A15777293" />
            <ComponentRef Id="cmpC55A394D12BA411AB9880594FD1CE561" />
            <ComponentRef Id="cmp6993960E54D806723F9E345856DAC164" />
            <ComponentRef Id="cmp32CCDC9B03F8214C5DDDD9717C0B0DCD" />
            <ComponentRef Id="cmp8E755731D2F4513E05B1835C366B4FD0" />
            <ComponentRef Id="cmpA4AC38BCA223E6D040AD4A04A51212F6" />
            <ComponentRef Id="cmpE60845712FBC0938EC9D42DA0FBDFF44" />
            <ComponentRef Id="cmp7C5E0173F73C80F69AE5B339905F1CB7" />
            <ComponentRef Id="cmpA7F0F3CA5AC10E3C0A3496788771A1DF" />
            <ComponentRef Id="cmpEA09AAD207FE05D3450FEEF959A34EEA" />
            <ComponentRef Id="cmp1A8CCD05EF52550EAC9D5912926FD160" />
            <ComponentRef Id="cmp73B1845052612B620A724C3DC5A71527" />
            <ComponentRef Id="cmpF2E161B77261C7E73348CCBC98C051E7" />
            <ComponentRef Id="cmp900148D524FFE40544D25816EE3F9745" />
        </ComponentGroup>
    </Fragment>
</Wix>